#container {

	width: 900px;
}

#header {

	width: 900px;
	height: 100px;
	position: relative;
	background-color: #E5E7E8;
}

#leftnav {
	float: left;
	width: 140px;
	height: 400px;
	background-color: #09F;
	border-right: 1px dashed #694717;
}

#rightnav {
	float: right;
	width: 140px;
	height: 400px;
	background-color: #09F;
	border-left: 1px dashed #694717;
}

#body{

	margin : auto;
	width: 600px;
	padding: 10px 0px 0px 10px;
}

#footer{
	clear: 	both;
	background-color: #6CF;
}